<!DOCTYPE HTML>
<html>
    <div id="all_texts" style="width: 100%; height: 600px; display: block; background: lightgrey;" >
    </div>
        <input type="text" id="input_text" style="width: 80%">
        </input>

        <script src="/static/paho-mqtt-min.js" charset="utf-8"></script>

<script>

    function sendText(keypress) {
        if (keypress.code == 'Enter') {
            let text = document.getElementById('input_text').value;
            console.log(text);
        }
    }

    document.getElementById('input_text').addEventListener('keyup', sendText);
</script>
