<!DOCTYPE HTML>
<html>
    <div id="all_texts" style="width: 100%; height: 600px; display: block; background: lightgrey;" >
    </div>
        <input type="text" id="input_text" style="width: 25%">
        </input>


        <input type="text" id="input_host" style="width: 25%" placeholder="host">
        </input>

        <script src="/static/paho-mqtt-min.js" charset="utf-8"></script>

<script>

    const passwd = prompt('Password');
    const userName = prompt('Nick name')

    const messagesLog = [];

    function showMessages() {
        document.getElementById('all_texts').innerHTML = messagesLog.join('<br/>');
    }

    function sendText(keypress) {
        if (keypress.code == 'Enter') {
            const text = document.getElementById('input_text').value;
            const payload = JSON.stringify({'author': userName, 'text': text});
            client.publish('rooms/main/newtext', payload, 1, true);
            document.getElementById('input_text').value = '';
        }
    }

    document.getElementById('input_text').addEventListener('keydown', sendText);

const client = new Paho.MQTT.Client("crava.ch", 9001, "/", "jsClient"+((Math.random()*100)&100), {
    onMessageArrived: (msg) => console.log(msg)
});

    client.onMessageArrived = (msg) => {
        console.log(msg.topic);
        if (msg.topic == 'rooms/main/newtext') {
            const payload = JSON.parse(msg.payloadString);
            messagesLog.push(`<b>${payload.author}</b>: ${payload.text}`);
            showMessages();
        }
    }

    client.onConnected = () => console.log('cool!');

    client.connect({
        userName: "pifou",
        password : passwd,
        hosts : ["crava.ch"],
        ports : [9001],
        reconnect: true,
        onSuccess: () => {
            console.log('Connected');
            client.subscribe("rooms/main/+", {
                onFailure: (...args) => {console.log(args)}
            });
            console.log("Subscribed");
            showMessages();

        },
        onFailure: () => alert('Failed :(')
    });

</script>
